body{
  background-color:   rgba(0,100,255, 0.1);
}
.done {
  text-decoration: line-through;
}

#first{
    max-width: 20%;
  margin: auto;
  display: flex;
  justify-content: center;
}


.title,.header{
    max-width: 20%;
  margin: auto;
  display: flex;
  justify-content: center;
}


ul{
  padding: 0;
  list-style-type: none;
}

li{
  display: flex;
  justify-content: space-between;
  max-width: 22%;
  margin:auto;
  margin-bottom: 8px;
}
